/* Style global pour centrer les dates dans toutes les colonnes */
.table td, .table th {
    text-align: center;  /* Centrage horizontal */
    vertical-align: middle; /* Centrage vertical */
}

/* Style spécifique pour la colonne "1ère délivrance" */
.highlight-delivrance th, .highlight-delivrance td {
    border: 2px solid #FEE440 !important;  /* Bordure jaune, forcée avec !important */
    background-color: transparent !important;  /* Supprime la couleur de fond, forcée avec !important */
    font-weight: bold;
    padding: 10px;
    color: #444;
    font-size: 1.1rem;
}

/* Ajustement de l'icône pour la rendre plus propre */
.highlight-delivrance th i {
    margin-right: 8px;
}
