/* Changer la couleur de fond des champs de recherche */
#searchForm .form-control {
    background-color: #1A237E; /* Bleu foncé */
    color: white; /* Texte blanc pour meilleure lisibilité */
}

/* Centrer les champs dans la carte et ajuster leur taille */
#searchForm .col-md {
    margin-bottom: 10px; /* Pour espacer verticalement les champs */
}

/* Supprimer les marges entre les colonnes */
#searchForm .row {
    margin-left: 0;
    margin-right: 0;
}

/* Ajuster le bouton de réinitialisation */
#resetFilter {
    width: 100%;
    background-color: #1A237E;
    color: white;
}

/* Optionnel : ajuster la largeur des champs pour qu'ils prennent toute la largeur */
#searchForm .form-control {
    width: 100%; /* Les champs remplissent toute la largeur */
}